.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(var(--bottom));
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
  }
}

.squash {
  animation: squash 2s infinite;
  transform-origin: bottom center;
}

@keyframes squash {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1.5);
  }
  47% {
    transform: scale(1, 1.1);
  }

  50% {
    transform: scale(1.6, 1);
  }
  60% {
    transform: scale(1, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}
