.move {
  animation: move 2.56s forwards;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
    /* animation-timing-function: ease-out; */
  }
  35% {
    /* transform: translate(15vw, var(--bottom)); */
    transform: translate(15vw, var(--bottom));
    animation-timing-function: ease-in;
  }
  45% {
    transform: translate(22.5vw, 5vw);
    animation-timing-function: ease-out;
  }
  65% {
    transform: translate(30vw, var(--bottom));
    animation-timing-function: ease-in;
  }
  75% {
    transform: translate(37.5vw, 10vw);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(47.9vw, var(--bottom));
    animation-timing-function: ease-in;
  }
}

.squash {
  animation: squash 2.56s 1 forwards;
}

@keyframes squash {
  25%,
  43%,
  73% {
    transform: scale(1, 1.2);
  }
  27%,
  45%,
  75% {
    transform: scale(1, 1.4);
  }
  32%,
  50%,
  80% {
    transform: scale(1, 1.1);
  }
  35%,
  65%,
  99% {
    /* transform: translate(15vw, var(--bottom)); */
    /* transform: translate(15vw, var(--bottom)); */
    /* animation-timing-function: ease-in; */
    transform: scale(1.3, 1);
  }
}
